<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.GoodsDao">

    <sql id="where">
        <where>
           <if test="params.id != null and params.id != ''">
                and id = #{params.id} 
            </if>
            <if test="params.goodsNo != null and params.goodsNo != ''">
                and goods_no = #{params.goodsNo} 
            </if>
            <if test="params.type != null and params.type != ''">
                and type = #{params.type} 
            </if>
            <if test="params.name != null and params.name != ''">
                and name = #{params.name} 
            </if>
            <if test="params.price != null and params.price != ''">
                and price = #{params.price} 
            </if>
            <if test="params.introduce != null and params.introduce != ''">
                and introduce = #{params.introduce} 
            </if>
            <if test="params.videoUrl != null and params.videoUrl != ''">
                and video_url = #{params.videoUrl} 
            </if>
            <if test="params.listImageUrl != null and params.listImageUrl != ''">
                and list_image_url = #{params.listImageUrl} 
            </if>
            <if test="params.imageId != null and params.imageId != ''">
                and image_id = #{params.imageId} 
            </if>
            <if test="params.storeId != null and params.storeId != ''">
                and store_id = #{params.storeId} 
            </if>
            <if test="params.specification != null and params.specification != ''">
                and specification = #{params.specification} 
            </if>
            <if test="params.stock != null and params.stock != ''">
                and stock = #{params.stock} 
            </if>
            <if test="params.costPrice != null and params.costPrice != ''">
                and cost_price = #{params.costPrice} 
            </if>
            <if test="params.buyingPrice != null and params.buyingPrice != ''">
                and buying_price = #{params.buyingPrice} 
            </if>
            <if test="params.marketPrice != null and params.marketPrice != ''">
                and market_price = #{params.marketPrice} 
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and update_time = #{params.updateTime} 
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime} 
            </if>

        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from t_goods t
        <include refid="where" />
    </select>

    <select id="list" resultType="Goods">
        select * from t_goods t
        <include refid="where" />
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>

    <update id="update">
        update t_goods t
        <set>
            <if test="goodsNo != null">
                goods_no = #{goodsNo},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="introduce != null">
                introduce = #{introduce},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl},
            </if>
            <if test="listImageUrl != null">
                list_image_url = #{listImageUrl},
            </if>
            <if test="imageId != null">
                image_id = #{imageId},
            </if>
            <if test="storeId != null">
                store_id = #{storeId},
            </if>
            <if test="specification != null">
                specification = #{specification},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
            <if test="costPrice != null">
                cost_price = #{costPrice},
            </if>
            <if test="buyingPrice != null">
                buying_price = #{buyingPrice},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="diploma != null">
                diploma = #{diploma},
            </if>

        </set>

        where t.id = #{id}
    </update>
</mapper>
