<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.RecommendDao">

	<sql id="where">
		<where>
			<if test="params.id != null and params.id != ''">
				and id = #{params.id} 
			</if>
			<if test="params.userId != null and params.userId != ''">
				and user_id = #{params.userId} 
			</if>
			<if test="params.pushStraight != null and params.pushStraight != ''">
				and push_straight = #{params.pushStraight} 
			</if>
			<if test="params.pushBetween != null and params.pushBetween != ''">
				and push_between = #{params.pushBetween} 
			</if>
			<if test="params.threePush != null and params.threePush != ''">
				and three_push = #{params.threePush} 
			</if>
			<if test="params.createTime != null and params.createTime != ''">
				and create_time = #{params.createTime} 
			</if>
		
		</where>
	</sql>

	<select id="count" resultType="int">
		select count(1) from t_recommend t
		<include refid="where" />
	</select>

	<select id="list" resultType="Recommend">
		select * from t_recommend t
		<include refid="where" />
		${params.orderBy}
		limit #{offset}, #{limit}
	</select>

	<update id="update">
		update t_recommend t
		<set>
			<if test="userId != null">
				user_id = #{userId}, 
			</if>
			<if test="pushStraight != null">
				push_straight = #{pushStraight}, 
			</if>
			<if test="pushBetween != null">
				push_between = #{pushBetween}, 
			</if>
			<if test="threePush != null">
				three_push = #{threePush}, 
			</if>
			<if test="createTime != null">
				create_time = #{createTime}, 
			</if>

		</set>

		where t.id = #{id}
	</update>

</mapper>
