<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.security.server.dao.TUserDao">

    <sql id="where">
        <where>
            <if test="params.id != null and params.id != ''">
                and id = #{params.id} 
            </if>
            <if test="params.name != null and params.name != ''">
                and name = #{params.name} 
            </if>
            <if test="params.nickName != null and params.nickName != ''">
                and nick_name = #{params.nickName} 
            </if>
            <if test="params.mobile != null and params.mobile != ''">
                and mobile = #{params.mobile} 
            </if>
            <if test="params.password != null and params.password != ''">
                and password = #{params.password} 
            </if>
            <if test="params.birthday != null and params.birthday != ''">
                and birthday = #{params.birthday} 
            </if>
            <if test="params.sex != null and params.sex != ''">
                and sex = #{params.sex} 
            </if>
            <if test="params.email != null and params.email != ''">
                and email = #{params.email} 
            </if>
            <if test="params.photoUrl != null and params.photoUrl != ''">
                and photo_url = #{params.photoUrl} 
            </if>
            <if test="params.tencentId != null and params.tencentId != ''">
                and tencent_id = #{params.tencentId} 
            </if>
            <if test="params.tencentName != null and params.tencentName != ''">
                and tencent_name = #{params.tencentName} 
            </if>
            <if test="params.wechatId != null and params.wechatId != ''">
                and wechat_id = #{params.wechatId} 
            </if>
            <if test="params.wechatName != null and params.wechatName != ''">
                and wechat_name = #{params.wechatName} 
            </if>
            <if test="params.wechatPhotourl != null and params.wechatPhotourl != ''">
                and wechat_photourl = #{params.wechatPhotourl} 
            </if>
            <if test="params.sinaId != null and params.sinaId != ''">
                and sina_id = #{params.sinaId} 
            </if>
            <if test="params.sinaName != null and params.sinaName != ''">
                and sina_name = #{params.sinaName} 
            </if>
            <if test="params.userCode != null and params.userCode != ''">
                and user_code = #{params.userCode} 
            </if>
            <if test="params.equityId != null and params.equityId != ''">
                and equity_id = #{params.equityId} 
            </if>
            <if test="params.lastVisitTime != null and params.lastVisitTime != ''">
                and last_visit_time = #{params.lastVisitTime} 
            </if>
            <if test="params.loginDays != null and params.loginDays != ''">
                and login_days = #{params.loginDays} 
            </if>
            <if test="params.noviceAward != null and params.noviceAward != ''">
                and novice_award = #{params.noviceAward} 
            </if>
            <if test="params.loginTime != null and params.loginTime != ''">
                and login_time = #{params.loginTime} 
            </if>
            <if test="params.idCard != null and params.idCard != ''">
                and id_card = #{params.idCard} 
            </if>
            <if test="params.welfareStatus != null and params.welfareStatus != ''">
                and welfare_status = #{params.welfareStatus} 
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime} 
            </if>
        
        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from t_user t
        <include refid="where" />
    </select>

    <select id="list" resultType="TUser">
        select * from t_user t
        <include refid="where" />
        ${params.orderBy}
        limit #{offset}, #{limit}
    </select>

    <update id="update">
        update t_user t
        <set>
            <if test="name != null">
                name = #{name}, 
            </if>
            <if test="nickName != null">
                nick_name = #{nickName}, 
            </if>
            <if test="mobile != null">
                mobile = #{mobile}, 
            </if>
            <if test="password != null">
                password = #{password}, 
            </if>
            <if test="birthday != null">
                birthday = #{birthday}, 
            </if>
            <if test="sex != null">
                sex = #{sex}, 
            </if>
            <if test="email != null">
                email = #{email}, 
            </if>
            <if test="photoUrl != null">
                photo_url = #{photoUrl}, 
            </if>
            <if test="tencentId != null">
                tencent_id = #{tencentId}, 
            </if>
            <if test="tencentName != null">
                tencent_name = #{tencentName}, 
            </if>
            <if test="wechatId != null">
                wechat_id = #{wechatId}, 
            </if>
            <if test="wechatName != null">
                wechat_name = #{wechatName}, 
            </if>
            <if test="wechatPhotourl != null">
                wechat_photourl = #{wechatPhotourl}, 
            </if>
            <if test="sinaId != null">
                sina_id = #{sinaId}, 
            </if>
            <if test="sinaName != null">
                sina_name = #{sinaName}, 
            </if>
            <if test="userCode != null">
                user_code = #{userCode}, 
            </if>
            <if test="equityId != null">
                equity_id = #{equityId}, 
            </if>
            <if test="lastVisitTime != null">
                last_visit_time = #{lastVisitTime}, 
            </if>
            <if test="loginDays != null">
                login_days = #{loginDays}, 
            </if>
            <if test="noviceAward != null">
                novice_award = #{noviceAward}, 
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime}, 
            </if>
            <if test="idCard != null">
                id_card = #{idCard}, 
            </if>
            <if test="welfareStatus != null">
                welfare_status = #{welfareStatus}, 
            </if>
            <if test="createTime != null">
                create_time = #{createTime}, 
            </if>

        </set>

        where t.id = #{id}
    </update>


</mapper>
